.navbar {
  background: whitesmoke;
  padding: 20px;
  color: #333;
}

.navbar nav {
  display: flex;
  align-items: flex-end;
  max-width: 1200px;
  margin: 30px;
}
.navPic {
  margin-left: auto;
  float: left;
  transform: rotate(-30deg);
}
.navbar a.brand {
  margin-right: auto;
  color: #333;
  text-decoration: none;
}

.navbar a:last-child {
  color: #333;
  text-decoration: none;
  margin-left: 140px;
  margin-right: 0;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
}

.navbar a:last-child:hover {
  background: #333;
  color: #fff;
}

h1 {
  float: right;
  font-size: 65px;
  margin-left: 50px;
  font-family: 'Quicksand', sans-serif;
}
